.descarga {
  background-image: linear-gradient(#00c6c7, #009092);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #c4ffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -.022em;
  line-height: 1.47059;
  width: auto;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  text-decoration-line: none;
  margin-left: 2%;
  margin-right: 2%;
}

.descarga:disabled {
  cursor: default;
  opacity: .3;
}

.descarga:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.descarga:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.descarga:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}